html, body {
    background: #000; 
    font-family:"Arial"; 
    font-weight:300; 
    color:#ccc;
    margin: 0;
    padding: 0;
}

img {
  display: block;  
  max-width: 100%;
  height: auto;
}

.header {
    background: #000;
}


.header li {
  display: inline;
  margin-right: 30px;
}

.main .discos {
    color:#fff;
}

.main .episode {

    font-family: "Arial", sans-serif;
    margin: 0 0 40px 0;
    text-transform: uppercase;
}

.main .description {
    color: #fff;   
}

.main ul, .main img {
    margin: 30px 0 0;
}

.main ul li {
    background: #000;
    border: 1px solid #0393ff;
    color: #fff;
}

.list-group-item span {
    color:#fff;
    padding:0 10px 0 0;
}

.cancion {
    margin-left: 30px;
}

.buttonMore {
  padding: 30px 0 0 0;
}